html
    head
        title Eddie Hinkle Resume
        style
            include resume.css
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="webmention", href="https://webmention.io/eddiehinkle.com/webmention")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous")
    body
        h1.site-monogram(title="Eddie Hinkle")
            a(href="https://eddiehinkle.com").no-underline EH
            span.resume-title Resume
        //div.side-tabs
        //    ul
        //        li Intro
        //        li Clients
        //        li History
        //        li Recommendations
        div.intro
            div Hello,
            div My name is <strong>Eddie</strong>.
            div I am a
                |
                |
                strong#rolename UI / UX Engineer
                span.blinking-cursor
        div.client-section
            h2.section-title Companies I've Worked With
            div.client-logos
                a(href="https://google.com", target="_blank").no-underline
                    img(src="images/google-logo.png").client-logo
                a(href="https://usaid.gov", target="_blank").no-underline
                    img(src="images/usaid-logo.png").client-logo
                a(href="https://www.franklincovey.com", target="_blank").no-underline
                    img(src="images/franklincovey-logo.png").client-logo
                a(href="http://www.wmt.com", target="_blank").no-underline
                    img(src="images/wright-logo.png").client-logo
                a(href="http://cslplasma.com", target="_blank").no-underline
                    img(src="images/cslplasma-logo.png").client-logo
                a(href="http://zimmerbiomet.com", target="_blank").no-underline
                    img(src="images/zimmerbiomet-logo.png").client-logo
                a(href="https://www.frameworkhomeownership.org", target="_blank").no-underline
                    img(src="images/framework-logo.png").client-logo
                a(href="https://www.threatconnect.com", target="_blank").no-underline
                    img(src="images/threatconnect-logo.png").client-logo
                a(href="https://www.gtindependence.com", target="_blank").no-underline
                    img(src="images/gtindependence-logo.png").client-logo
        div
            h2.section-title Technical Skills
        div
            h2.section-title Testimonials
        div.timeline
            h2.section-title Work History
            ul
                each work in workHistory
                    li.timeline-item
                        div.header
                            span.type #{work.type}
                            span.date #{work.date}
                            span.title #{work.position}
                        h2.company #{work.company}
                        div #{work.summary}

        div.interest Interested in working together? Hit me up!
            |
            a(href="mailto:hello@eddiehinkle.com") hello@eddiehinkle.com
        div.footer
            div.external-icons
                a(href="https://www.linkedin.com/in/edwardhinkle").no-underline
                    i.fab.fa-2x.fa-linkedin
                a(href="https://angel.co/edwardhinkle").no-underline
                    i.fab.fa-2x.fa-angellist
                a(href="https://github.com/EdwardHinkle").no-underline
                    i.fab.fa-2x.fa-github
                a(href="https://dribbble.com/EdwardHinkle").no-underline
                    i.fab.fa-2x.fa-dribbble
                a(href="http://stackexchange.com/users/5523972/eddie-hinkle?tab=accounts").no-underline
                    i.fab.fa-2x.fa-stack-exchange
            div Designed and Coded with ❤️ in D.C.
        script(type="text/javascript")
                    include resume.js