html
    head
        title EddieHinkle.com
        style
            include homepage.css
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        div.drank
            h4 Last Drank
            p  #{latestDrank.properties.drank.properties.name}
        div.ate
            h4 Last Ate
            p
                each post, index in latestAte
                    | #{post.properties.ate.properties.name}
                    if index <= latestAte.length - 3
                        | ,
                        |
                    else if index === latestAte.length - 2
                        |
                        | and
                        |
                    else
                        |
                        |
        div.checkin
            h4 Last Seen
            p  #{latestCheckin.properties.checkin.properties.name}
        div.photos
            h4 Latest Photos
            each post in latestPhoto
                each photo in post.properties.photo
                    if photo.url !== undefined
                        img(src=photo.url, width="100")
                    else
                        img(src=photo, width="100")
        div.notes
            h4 Latest Thoughts
            each post in latestNotes
                div.note !{post.properties.content}

        //latestArticles: latestArticles,
        //latestSocial: latestSocial
        div.social
            h4 Latest Social Interactions
            p
                each post in latestSocial
                    if post.getPostType() === "bookmark"
                        | ðŸ”–
                        |
                    else if post.getPostType() === "like"
                        | ðŸ‘
                        |
                    else if post.getPostType() === "reply"
                        | â†ªï¸
                        |
        ul.h-card
            li
                img(src="/images/profile.jpg", alt="Eddie Hinkle", style="display: none;").u-photo
                a(rel="me", href="https://eddiehinkle.com/").u-url.p-name Eddie Hinkle
                p.p-note Believer, Husband, Software Engineer.
                    a(href="https://eddiehinkle.com/about") Read More