html
    head
        title EddieHinkle
        style
            include ../global.css
            include homepage.css
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="alternate", type="application/rss+xml", title="Eddie Hinkle RSS Feed" href="https://eddiehinkle.com/timeline/feed.xml")
        link(rel="alternate", type="application/json", title="Eddie Hinkle JSON Feed" href="https://eddiehinkle.com/microblog-syndication.json")
        link(rel="feed", type="text/html", title="Eddie Hinkle" href="https://eddiehinkle.com/this-month/")
        link(rel="authorization_endpoint", href="https://eddiehinkle.com/auth")
        link(rel="token_endpoint", href="https://eddiehinkle.com/auth/token")
        link(rel="micropub", href="https://eddiehinkle.com/micropub")
        link(rel="pingback", href="{{ site.endpoints.pingback }}")
        link(rel="webmention", href="https://webmention.io/eddiehinkle.com/webmention")
        link(rel="microsub", href="https://aperture.eddiehinkle.com/microsub/1")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous")
        link(rel="stylesheet" href="/resources/styles/snow-effect.css")
        script(src="/resources/js/confetti_controller.js")
        script
            include ga.js
        script
            include sfx.js
    body
        include ../includes/header.pug
        div.bio.h-card
            img(src="/images/profile.jpg", alt="Eddie Hinkle", style="display: none;").u-photo
            h2.p-note
                a(rel="me", href="https://eddiehinkle.com/").u-url.p-name Eddie Hinkle
                |
                | is a husband to
                |
                a(href="https://ashleyhinkle.com", target="_blank") Ashley
                | , father to
                |
                a(href="https://luke.hinkle.life", target="_blank") Luke
                |
                | and
                |
                a(href="https://eddiehinkle.com/resume", target="_blank") UI Engineer
                |
                | that lives in Frederick, MD.
                |
                a(href="/about") Read More
            //h2
            //    | He
            //    if latestDrank
            //        |
            //        | last drank
            //        |
            //        a(href=latestDrank.getOfficialPermalink()) #{latestDrank.properties.drank.properties.name}
            //        |
            //        if latestAte
            //            |
            //            | and
            //    if latestAte
            //        |
            //        | last ate
            //        |
            //        each post, index in latestAte
            //             a(href=post.getOfficialPermalink()) #{post.properties.ate.properties.name}
            //             if index <= latestAte.length - 3
            //                | ,
            //                |
            //             else if index === latestAte.length - 2
            //                |
            //                | and
            //                |
            //             else
            //                | .
            //                |

        div.stats
            if latestPodcast
                div.podcast
                    h4 Latest Podcast
                    a(href=latestPodcast.getOfficialPermalink()).no-underline
                        img(src=latestPodcast.properties.photo[0], width="200")
                    //audio(src=latestPodcast.properties.audio, controls=true)
                    p
                        a(href=latestPodcast.getOfficialPermalink()) #{latestPodcast.properties.name}
                    a(href="/tag/podcast/").more-button.no-underline More Podcasts
            if latestCheckin
                div.checkin
                    h4 Last Seen
                    div.checkin-contents
                        a(href=latestCheckin.getOfficialPermalink()).no-underline
                            img(src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-m+24b1f3(" + latestCheckin.properties.checkin.properties.longitude + "," + latestCheckin.properties.checkin.properties.latitude + ")/" + latestCheckin.properties.checkin.properties.longitude + "," + latestCheckin.properties.checkin.properties.latitude + ",13,0,60/400x400@2x?access_token=pk.eyJ1IjoiZWRkaWVoaW5rbGUiLCJhIjoiY2oxa3o1aXdiMDAwNDMzbjFjNGQ0ejl1eSJ9.WQZ6i6b-TYYe_96IQ6iXdg&attribution=false&logo=false", width='200px')
                        if latestCheckin.properties.content
                            | !{latestCheckin.properties.content}
                            |
                        else
                            | Checked in
                            |
                        |  at
                        |
                        a(href=latestCheckin.getOfficialPermalink()) #{latestCheckin.properties.checkin.properties.name}
                        |
                        |
                        if latestCheckin.properties.personTags.length > 0
                            | with
                            |
                            each person, index in latestCheckin.properties.personTags
                                a(href=person[person.representitiveUrl]).u-category #{person.nickname}
                                if index <= latestCheckin.properties.personTags.length - 3
                                    | ,
                                    |
                                else if index === latestCheckin.properties.personTags.length - 2
                                    |
                                    | and
                                    |
                                else
                                    | .
                                    |
                    a(href="/tag/checkin/").more-button.no-underline More Checkins
            if latestWatch
                div.watch
                    h4 Recently Watched
                    div.watched-contents
                        if latestWatch.properties.show_image
                            a(href=latestWatch.getOfficialPermalink()).no-underline
                                img(src=latestWatch.properties.show_image, width="150")
                        else
                            a(href=latestWatch.getOfficialPermalink()).no-underline
                                img(src=latestWatch.properties.movie_image, width="150")
                    a(href="/watched/").more-button.no-underline More Watched
            div.listen
                h4 Recently Listened
                div.media-grid
                    each post in latestListen
                        a(href=post.getOfficialPermalink()).no-underline
                            img(src=post.properties['listen-of'].properties.photo, width="100")
                a(href="/listened/").more-button.no-underline More Listened
            div.photos
                h4 Latest Photos
                div.media-grid
                    - var photoCount = 0;
                    each post in latestPhoto
                        a(href=post.getOfficialPermalink()).no-underline
                            each photo in post.properties.photo
                                if photoCount < 4
                                    if photo.url !== undefined
                                        img(src=photo.url, width="100")
                                    else
                                        img(src=photo, width="100")
                                    - photoCount++
                a(href="/photos/").more-button.no-underline More Photos
        if latestArticles.length > 0
            div.articles
                h4 Latest Articles
                each post in latestArticles
                    div.article
                        a(href=post.getOfficialPermalink()) !{post.properties.name}
                a(href="/articles/").link-button.no-underline View All Articles
        if latestNotes.length > 0
            div.notes
                h4 Latest Thoughts
                each post in latestNotes
                    div.note !{post.properties.content}
                        |
                        a(href=post.getOfficialPermalink()).note-date.no-underline #{post.semiRelativeDateTimeFormat()}
                a(href="/timeline/").link-button.no-underline View Full Timeline
        if latestSocial.length > 0
            div.social
                h4 Latest Social Interactions
                p
                    each post in latestSocial
                        if post.getPostType() === "bookmark"
                            a(href=post.getOfficialPermalink()).no-underline 🔖
                            |
                        else if post.getPostType() === "like"
                            a(href=post.getOfficialPermalink()).no-underline 👍
                            |
                        else if post.getPostType() === "reply"
                            a(href=post.getOfficialPermalink()).no-underline ↪️
                            |
        div.webring
            a(href="https://xn--sr8hvo.ws/🏻/previous").no-underline ⏪
            | An IndieWeb Webring 🕸💍
            |
            a(href="https://xn--sr8hvo.ws/🏻/next").no-underline ⏩
        include ../includes/footer.pug