html
    head
        title Eddie Hinkle #{title}
        style
            include ../global.css
            include post.css
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="self" href=feed_url)
        link(rel="hub" href="https://switchboard.p3k.io/")
        link(rel="alternate" title=title + " JSONFeed" type="application/json" href=jsonfeed_url)
        link(rel="webmention", href="https://webmention.io/eddiehinkle.com/webmention")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous")
        link(rel="stylesheet" href="/resources/styles/prism-tomorrow-night.css")
    body
        include ../includes/header.pug
        h2.channel-title #{title}
        if posts.length > 0
            div.h-feed.post-list
                a(href="https://eddiehinkle.com/").u-author.no-underline
                each post in posts
                    div.post-item
                        include ./post_card.pug
        else
            h3.no-posts No posts are in this channel
            p.no-posts You could check out <a href='/today/'>Today's posts</a>
        include ../includes/footer.pug