html
    head
        title EddieHinkle.com
        style
            include post.css
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="webmention", href="https://webmention.io/eddiehinkle.com/webmention")
    body
        h1 Sorry for the look. Site is rebuilding.
        div.h-entry
            a(href="/").u-author
            a(href="").u-url
            div.meta
                if properties.category.length > 0
                    each tag, index in properties.category
                        span.p-category #{tag}
                            if index <= properties.category.length - 2
                                | ,
                                |
                            else
                                |
                                |
                time(datetime=date).dt-published #{date}
            if properties['in-reply-to']
                if properties['in-reply-to'].indexOf('github.com') > -1
                    if properties.name !== undefined && properties.name > ''
                        div â†ª Created a new issue for:
                            |
                            |
                            a(href=properties['in-reply-to']).u-in-reply-to #{properties['in-reply-to']}
                    else
                        div â†ª Commented on an issue:
                            |
                            |
                            a(href=properties['in-reply-to']).u-in-reply-to #{properties['in-reply-to']}
                else
                    div â†ª In Reply To:
                        |
                        |
                        a(href=properties['in-reply-to']).u-in-reply-to #{properties['in-reply-to']}
            if properties['like-of']
                div ðŸ‘ Liked:
                    |
                    |
                    a(href=properties['like-of']).u-like-of #{properties['like-of']}
            if properties['bookmark-of']
                div ðŸ”– Bookmarked:
                    |
                    |
                    a(href=properties['bookmark-of']).u-bookmark-of #{properties['bookmark-of']}
            if properties['listen-of'] && properties['listen-of'].type === "h-cite"
                div.p-summary.u-listen-of.h-cite ðŸŽ§ Listened to
                    |
                    a(href=properties['listen-of'].properties.url).u-url #{properties['listen-of'].properties.name}
            if properties['drank']
                div.p-summary.p-drank Drank
                    |
                    | #{properties['drank'].properties.name}
            if properties['ate']
                div.p-summary.p-ate Ate
                    |
                    | #{properties['ate'].properties.name}
            if properties.name
                h1.page-title.p-name #{properties.name}
            if properties.checkin && properties.checkin.type === "h-card"
                img(src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-m+24b1f3(" + properties.checkin.properties.longitude + "," + properties.checkin.properties.latitude + ")/" + properties.checkin.properties.longitude + "," + properties.checkin.properties.latitude + ",13,0,60/1280x350@2x?access_token=pk.eyJ1IjoiZWRkaWVoaW5rbGUiLCJhIjoiY2oxa3o1aXdiMDAwNDMzbjFjNGQ0ejl1eSJ9.WQZ6i6b-TYYe_96IQ6iXdg&attribution=false&logo=false", width='600px').u-photo
            if properties.photo
                each photoUrl in properties.photo
                    img(src=photoUrl, width='300px').u-photo
            div.e-content.p-summary
                if properties.content
                    | !{properties.content}
                    |
                else if properties.checkin && properties.checkin.type === "h-card"
                    | Checked in
                    |
                if properties.checkin && properties.checkin.type === "h-card"
                    |  at
                    |
                    a(href=properties.checkin.properties.url) #{properties.checkin.properties.name}
                    |
                    |
                if properties.personTags.length > 0
                    | with
                    |
                    each person, index in properties.personTags
                        a(href=person[person.representitiveUrl]).u-category #{person.nickname}
                        if index <= properties.personTags.length - 3
                            | ,
                            |
                        else if index === properties.personTags.length - 2
                            |
                            | and
                            |
                        else
                            | .
                            |
            div
                each syndication in properties.syndication
                    a(href=syndication.url).u-syndication #{syndication.name}
            div(style="display: none")
                a(href="https://brid.gy/publish/twitter")
                a(href="https://brid.gy/publish/github")
        ul.h-card
            li
                img(src="/images/profile.jpg", alt="Eddie Hinkle", style="display: none;").u-photo
                a(rel="me", href="https://eddiehinkle.com/").u-url.p-name Eddie Hinkle
                p.p-note Believer, Husband, Software Engineer.
                    a(href="https://eddiehinkle.com/about") Read More